<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C-and-C-Character-Creation</title>
</head>
<body>
    <h1>C&amp;C Character Creation</h1>
<div class="info">
    <table>
        <tr>
            <th>CHARACTER NAME</th>
            <input id="character Name" type="text" placeholder="CHARACTER NAME">
            <th>RACE</th>
            <input id="race" type="text" placeholder="RACE">
            <th>CLASS</th>
            <input id="class" type="text" placeholder="CLASS">
            <th>BACKGROUND</th>
            <input id="background" type="textarea" placeholder="BACKGROUND">
        </tr>
        <tr>
            <th>ALIGNMENT</th>
            <th>PLAYER NAME</th>
        </tr>
           
    </table>
</div>
<br>

<div class="score">
    <input id="initiative" type="number" placeholder="INITIATIVE">
    <input id="speed" type="number" placeholder="SPEED">
    <input id="proficiency" type="number" placeholder="PROFICIENCY">
    <input id="inspiration" type="number" placeholder="INSPIRATION">
</div>
<br>

<div class="scoretwo">
 <p>STRENGTH</p>
 <input id="saving-throws" type="number" placeholder="">
 <input type="checkbox" class="checkbox" placeholder="SAVING THROWS">
 <label for="checkbox">SAVING THROWS</label>
 <br>
 <input id="saving-throws" type="number" placeholder="">
 <input type="checkbox" class="checkbox-round" placeholder="ATHLETICS">
 <label for="checkbox">ATHLETICS</label>
 <br>
 <p>DEXTERITY</p>
 <input id="saving-throws" type="number" placeholder="">
 <input type="checkbox" class="checkbox" placeholder="SAVING THROWS">
 <label for="checkbox">SAVING THROWS</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="ACROBATICS">
 <label for="checkbox">ACROBATICS</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="SLEIGHT OF HAND">
 <label for="checkbox">SLEIGHT OF HAND</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="STEALTH">
 <label for="checkbox">STEALTH</label>
 <br>
 <p>CONSTITUTION</p>
 <input id="saving-throws" type="number" placeholder="">
 <input type="checkbox" class="checkbox" placeholder="SAVING THROWS">
 <label for="checkbox">CONSTITUTION</label>
 <br>
 <p>INTELLIGENCE</p>
 <input id="saving-throws" type="number" placeholder="">
 <input type="checkbox" class="checkbox" placeholder="SAVING THROWS">
 <label for="checkbox">SAVING THROWS</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="ARCANA">
 <label for="checkbox">ARCANA</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="HISTORY">
 <label for="checkbox">HISTORY</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="INVESTIGATION">
 <label for="checkbox">INVESTIGATION</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="NATURE">
 <label for="checkbox">NATURE</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="RELIGION">
 <label for="checkbox">RELIGION</label>
 <br>

 <p>WISDOM</p>
 <input id="saving-throws" type="number" placeholder="">
 <input type="checkbox" class="checkbox" placeholder="SAVING THROWS">
 <label for="checkbox">SAVING THROWS</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="ANIMAL HANDLING">
 <label for="checkbox">ANIMAL HANDLING</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="INSIGHT">
 <label for="checkbox">INSIGHT</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="MEDICINE">
 <label for="checkbox">MEDICINE</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="PERCEPTION">
 <label for="checkbox">PERCEPTION</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="SURVIVAL">
 <label for="checkbox">SURVIVAL</label>
 <br>

 <p>PASSIVE WISDOM(PERCEPTION)</p>

 <p>CHARISMA</p>
 <input id="saving-throws" type="number" placeholder="">
 <input type="checkbox" class="checkbox" placeholder="SAVING THROWS">
 <label for="checkbox">SAVING THROWS</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="DECEPTION">
 <label for="checkbox">DECEPTION</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="INTIMIDATION">
 <label for="checkbox">INTIMIDATION</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="PERFORMANCE">
 <label for="checkbox">PERFORMANCE</label>
 <br>
 <input type="checkbox" class="checkbox-round" placeholder="PERSUASION">
 <label for="checkbox">PERSUASION</label>
 <br>

</div>

<div class="boxone">
    <p>TREASURES</p>
    <input id="boxone" type="textarea" placeholder="">
</div>

<div class="boxtwo">
    <p>ARMOR CLASS</p>
    <input id="saving-throws" type="number" placeholder="">
    <input id="boxtwo" type="textarea" placeholder="">
</div>
<br>

<div class="boxthree">
    <p>HIT POINTS</p>
    <input id="saving-throws" type="number" placeholder="">
    <input id="boxthree" type="textarea" placeholder="">
    <label for="boxthree">WOUNDS</label>
    <br>
    <p>LEVEL</p>
    <input id="saving-throws" type="number" placeholder="">
    <input id="boxthree" type="textarea" placeholder="">
    <label for="boxthree">EXPERIENCE NEEDED:</label>
</div>
<br>

<div class="boxfour">
  <table>
    <input id="boxfour" type="textarea" placeholder="">
    <tr>
        <th>AGE</th>
        <th>SKIN</th>
    </tr>
    <tr>
        <th>HEIGHT</th>
        <th>HAIR</th>
    </tr>
    <tr>
        <th>WEIGHT</th>
        <th>EYES</th>
    </tr>
    <tr>
        <th>VISION</th>
        <th>REPUTATION</th>
    </tr>
  </table>
</div>

<br>

<div class="boxfive">
    <input id="boxfive" type="textarea" placeholder="PERSONALITY TRAITS">
    <br>
    <input id="boxfive" type="textarea" placeholder="IDEALS">
    <br>
    <input id="boxfive" type="textarea" placeholder="BONDS">
    <br>
    <input id="boxfive" type="textarea" placeholder="FLAWS">
</div>
<br>

<div class="boxfive">
   <table>
    <input id="boxfive" type="textarea" placeholder="">
    <tr>
        <th>NAME</th>
        <th>ATTACK</th>
        <th>DAMAGE</th>
        <th>RANGE</th>
        <th>AMMO</th>
        <th>USED</th>
    </tr>
   </table>
   <p>ATTACKS &amp; SPELLCASTING</p>
</div>
<br>


<div class="boxsix">
    <input id="boxsix" type="textarea" placeholder="">
    <label for="boxsix">OTHER PROFICIENCIES &amp; LANGUAGES</label>
   <br><br>

   <input type="radio" class="checkbox" placeholder="">
   <br>
   <input type="radio" class="checkbox" placeholder="">
   <br>
   <input type="radio" class="checkbox" placeholder="">
   <br>
   <input type="radio" class="checkbox" placeholder="">
   <br>
   <input type="radio" class="checkbox" placeholder="">
   <br>
   <input type="radio" class="checkbox" placeholder="">
   <br>
   <input type="radio" class="checkbox" placeholder="">
   <br>
   <input type="radio" class="checkbox" placeholder="">
   <br>
   <input type="radio" class="checkbox" placeholder="">
   <br>
    <label for="boxsix">SPECIAL ABILITIES</label>
   <br>
</div>

<footer>
    <input id="boxsix" type="textarea" placeholder="">
    <label for="boxsix">EQUIPMENT &amp; CHARACTER NOTES</label>
    
    <script>// Get a reference to the form and submit button
const form = document.querySelector('#my-form');
const submitButton = document.querySelector('#submit-button');

// Add an event listener to the submit button
submitButton.addEventListener('click', (event) => {
  // Prevent the default form submission behavior
  event.preventDefault();
  
  // Get the form data
  const formData = new FormData(form);
  
  // Send a POST request to the server
  fetch('/submit-form', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    console.log(data);
  })
  .catch(error => {
    console.error(error);
  });
});</script>
</footer>

</body>
</html>