<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>C-and-C-Character-Creation</title>
</head>
<body>
<div id="container"> 
    <header>
        <h1>C&amp;C Character Creation</h1>
    </header>
    <hr>  
  <div class="info">
    <table>        
        <tr>
            <th>CHARACTER NAME</th>
            <input id="thbox" type="text" placeholder="CHARACTER NAME">
            <th>RACE</th>
            <input id="thbox" type="text" placeholder="RACE">
            <th>CLASS</th>
            <input id="thbox" type="text" placeholder="CLASS">
            <th>BACKGROUND</th>
            <input id="thbox" type="textarea" placeholder="BACKGROUND">
        </tr>
        <tr>
            <th>ALIGNMENT</th>
            <th>PLAYER NAME</th>
        </tr>
    </table>
  </div>
 <br>
 <!-- first box for score -->
  <div class="score">
    <input id="initiative" type="number" placeholder="INITIATIVE">
    <input id="speed" type="number" placeholder="SPEED">
    <input id="proficiency" type="number" placeholder="PROFICIENCY">
    <input id="inspiration" type="number" placeholder="INSPIRATION">
  </div>
   <br>
 <!-- box for second score -->
 <div class="container text-left">
  <div class="col align-items-start">
    <div class="col">
      <p><strong>STRENGTH</strong></p> 
        <input class="saving-throws" type="number" placeholder=""> 
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            SAVING THROWS
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
              ATHLETICS
          </label>
        </div>
    </div>
    <br>
    
    <div class="col">
      <p><strong>DEXTERITY</strong></p>
       <input class="saving-throws" type="number" placeholder=""> 
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          SAVING THROWS
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            SLEIGHT OF HAND
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            STEALTH
        </label>
      </div>
    </div>
    <br>

    <div class="col">
        <p><strong>CONSTITUTION</strong></p>
        <input class="saving-throws" type="number" placeholder=""> 
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            SAVING THROWS
          </label>
        </div>
    </div>
    <br>

    <div class="col">
       <p><strong>INTELLIGENCE</strong></p>
      <input class="saving-throws" type="number" placeholder=""> 
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
           SAVING THROWS
        </label>
      </div>
    
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          ARCANA
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          HISTORY
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          INVESTIGATION
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          NATURE
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          RELIGION
      </label>
    </div>
  </div>
    <br>

    <div class="col">
       <p><strong>WISDOM</strong></p>
       <input class="saving-throws" type="number" placeholder=""> 
       <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            SAVING THROWS
          </label>
       </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            ANIMAL HANDLING
          </label>
        </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          INSIGHT
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          MEDICINE
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          PERCEPTION
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          SURVIVAL
      </label>
    </div>
   </div>
    <br>
    <div class="col">
      <p><strong>PASSIVE WISDOM(PERCEPTION)</strong></p>
      <input class="saving-throws" type="number" placeholder=""> 
     <div class="form-check">
     </div>
    </div>
    <br>

    <div class="col">
      <p><strong>CHARISMA</strong></p>
      <input class="saving-throws" type="number" placeholder=""> 
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          SAVING THROWS
        </label>
      </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        DECEPTION
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        INTIMIDATION
      </label>
    </div> 
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
          PERFORMANCE
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
         PERSUASION
      </label>
    </div>
  </div>
    <br>
    <!-- last input box for treasures -->
    <div class="col">
      <p><strong>TREASURES</strong></p>
      <input id="boxone" type="textarea" placeholder="">
  </div>
     <br>
     <hr>
     <br>
     <!-- new colum -->
  <div class="d-flex align-content-start flex-wrap">
    <div class="containertwo"> 
      <div class="col">
        <div class="col-sm">
          <p><strong>ARMOR CLASS</strong></p>
          <input class="saving-throwstwo" type="number" placeholder=""> 
          <input id="boxtwo" type="textarea" placeholder="">
        </div>
        <div class="col-sm">
          <p><strong>HIT POINTS</strong></p>
          <input class="saving-throwstwo" type="number" placeholder=""> 
          <input id="boxtwo" type="textarea" placeholder="WOUDS:">
        </div>
        <div class="col-sm">
          <p><strong>LEVEL</strong></p>
          <input class="saving-throwstwo" type="number" placeholder=""> 
          <input id="boxtwo" type="textarea" placeholder="EXPERIENCE NEEDED:">
        </div>
      </div>
    </div> 
  </div>
    <br>
    
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <input class="containerinput" />
      </div>
      <div class="col">
        AGE
      </div>
      <div class="col">
        SKIN
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="containerinput" />
      </div>
      <div class="col">
        HEIGHT
      </div>
      <div class="col">
        HAIR
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="containerinput" />
      </div>
      <div class="col">
        WEIGHT
      </div>
      <div class="col">
        EYES
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input class="containerinput" />
      </div>
      <div class="col">
        VISION
      </div>
      <div class="col">
        REPUTATION
      </div>
    </div>
  </div>
   <br>
   <hr>
   <br>
  
    
  <div class="four">
    <div class="col">
      <div class="col-sm">
        <input id="newbox" type="text" placeholder="PERSONALITY TRAITS">
      </div>
      <div class="col-sm">
        <input id="newbox" type="text" placeholder="IDEALS">
      </div>
      <div class="col-sm">
        <input id="newbox" type="text" placeholder="BONDS">
      </div>
      <div class="col-sm">
        <input id="newbox" type="text" placeholder="FLAWS">
      </div>
    </div>
  </div> 
     <br>
     <hr>
     <br>
  <table> 
    <thead>
      <tr>
        <th scope="col">NAME </th>
        <th scope="col">ATTACK</th>
        <th scope="col">DAMAGE</th>
        <th scope="col">RANGE</th>
        <th scope="col">AMMO</th>
        <th scope="col">USED</th>
      </tr>
    </thead>
    <input id="boxfive" type="textarea" placeholder="ATTACKS & SPELLCASTING">
  </table>
     <br>
  
    <div class="container-text-center-two">
    <div class="row">
     <div class="col">
      <input id="radio" type="textarea" placeholder="">
      <input id="radio" type="textarea" placeholder="">
      <input id="radio" type="textarea" placeholder="">
      <input id="radio" type="textarea" placeholder="">
      <input id="radio" type="textarea" placeholder="">
      <input id="radio" type="textarea" placeholder="">
      <input id="radio" type="textarea" placeholder="">
      <input id="radio" type="textarea" placeholder="">
    </div>

    <div class="col">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <input id="radio" type="textarea" placeholder="">
        <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <input id="radio" type="textarea" placeholder="">
        <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <input id="radio" type="textarea" placeholder="">
        <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <input id="radio" type="textarea" placeholder="">
        <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <input id="radio" type="textarea" placeholder="">
        <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <input id="radio" type="textarea" placeholder="">
        <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <input id="radio" type="textarea" placeholder="">
        <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <input id="radio" type="textarea" placeholder="">
    </div>  
  </div>
</div>
<table> 
  <thead>
    <tr id="bbb">
      <th scope="col"><strong>OTHER PROFICIENCIES &amp; LANGUAGES</strong></th>
      <th scope="col">SPECIAL ABILITIES</th>
    </tr>
  </thead>
</table>
 <br>
 </div>
    <input id="boxseven" type="textarea" placeholder="">
    <label for="boxseven1"><strong>EQUIPMENT &amp; CHARACTER NOTES</strong></label>
  </div> 

    <footer>
    <button id="btn-2">SUBMIT</button>
 </footer>  


</body>
</html>


    <script>// Get a reference to the form and submit button
const form = document.querySelector('#my-form');
const submitButton = document.querySelector('#submit-button');

// Add an event listener to the submit button
submitButton.addEventListener('click', (event) => {
  // Prevent the default form submission behavior
  event.preventDefault();
  
  // Get the form data
  const formData = new FormData(form);
  
  // Send a POST request to the server
  fetch('/submit-form', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    console.log(data);
  })
  .catch(error => {
    console.error(error);
  });
});</script>
</footer>

</body>
</html>

