* {
    margin: 2px;
    font-family: 'Cinzel', serif;
    background-image: linear-gradient(to right, #757bc8, #8187dc, #9fa0ff);
   /* background-color: #a14ebf;  */
} 
/* main page */
h1 {
   font-family: 'Cinzel', serif;
   justify-content: center;
   text-align: center;
}

hr {
  border-radius: 30px;
  border: 0.1px solid; 
  width: 85%;
  margin-left: auto;
  margin-right: auto;
 
}

h2 {
    justify-content: center;
    display: flex;
    padding-right: middle;
    padding-top: 50px;
    padding-bottom: 30px;

}

#firstinfo {
   text-align: center;
   padding-bottom: 20px;
   margin-left: 10px;
}

#moreinfo{
    margin-left: 10px;
    margin-top: 10px;
    background-color: none;
}

#checkboxone{
     margin-top:10px;
    color:black;
    border: 2x solid;
    padding: 2px 2em;
    font-size: 12.5px;
    transition: all 0,25s;
}

#checkboxone:hover{
    border-color: #ffea00;
    color: black;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform:translateY(-0.25em);
    cursor:pointer;
}
/* style button from all 3 pages */
#btn { 
  /* margin-top: 80%;  */
color: black;
background-color: #7b2cbf;
border: 2x solid;
padding: 2px 2em;
font-size: 12.5px;
transition: all 0,25s;
position: relative;
display: auto;
}
/* style button from all 3 pages */
#btn:hover {
    border-color: #7b2cbf;
    color: #e500a4;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform:translateY(-0.25em);
    cursor:pointer;
}
/* style the creation page */
.info{
    padding-top: 30px;
    align-items: left;
}

#boxname {
    padding-left: 10%;
    padding-right: 10%;
    border: 2x solid;
    padding: 1em 2em;
    font-size: 1em;
    border-radius: 4px;
    text-align: center;
}

#thbox {
    background-color: none;
    text-align: row;
    padding-left: 10%;
    padding-right: 10%;
    padding: 1em 2em;
    text-align: center;
    display: table-column;
    font-size: 1em;
    border-radius: 4px;
    border: 2x solid;
}

th {
   display: column;
   padding: 0.1em 5em;
}
/* score div */
#initiative, #speed, #proficiency, #inspiration {
    padding-left: 5%;
    padding-right: 5%;
    padding: 0.1em 0.1em;
    border-radius: 4px;
    display: flexbox;
    background-color: none;
    width: 120px;
    height: 70px;
    padding: 2px;
    text-align: center;
    background-color: none;
}

/* styles the saving-throws box */
.saving-throws {
    padding: 10px;
    background-color: none;
    text-align: left;
    display: flexbox;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    font-size: 150%;
    font-display: center;
}

#boxone {
    background-color: none;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    font-size: 150%;
}

.saving-throwstwo {
    background-color: none;
    width: 90px;
    height: 100px;
    border-radius: 4px;
    font-size: 150%;

}

#boxtwo {
    background-color: none;
    width: 300px;
    height: 100px;
    border-radius: 4px;
    font-size: 100%;
 
}

#boxfive {
    background-color: none;
    width: 300px;
    height: 100px;
    border-radius: 4px;
    font-size: 100%;
    text-align: center;
}

table {
    width: 20px;
    height: 20px;
}

#boxsix {
    background-color: none;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    font-size: 100%;
    text-align: center;
}

#container {
    margin: auto;
    width: auto;
    float: right;
}


#boxseven {
    background-color: none;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    font-size: 100%;
    text-align: center;
}


#btnfive {
    background-color: #7b2cbf;

}

::placeholder { 
    color: black;
    opacity: 1; 
}
