<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
    <title>C-and-C-Character-Creation</title>
</head>
<body>
    <header>
        <h1>C&amp;C</h1>
    </header>
   
    <hr>
    <h2>Login </h2>
    <form id="firstinfo">
        <input type="text" placeholder="username" id="moreinfo">
        <input type="password" placeholder="password" id="moreinfo">
        <button id="btn"><strong>Login</strong></button>
        <br>
        <label for="remember-me">Remember me</label>
        <input type="checkbox" id="checkboxone" id="moreinfo">
        <label for="forgot-password">Forgot password?</label>
        <input type="checkbox" id="checkboxone" id="moreinfo">
    </form>

    <h2>Create New Account</h2>
    <form id="firstinfo">
        <label for="first-name"><strong>Name:</strong></label>
        <input id="moreinfo" type="text" placeholder="first name" >
        <br>
        <label for="last-name"><strong>Last Name:</strong></label>
        <input id="moreinfo" type="text" placeholder="last name">
        <br>
        <label for="email"><strong>Email:</strong></label>
        <input id="moreinfo" type="email" placeholder="email">
        <br>
        <label for="password"><strong>Password:</strong></label>
        <input id="moreinfo" type="password" placeholder="password">
        <br>
        <button id="btn"><strong>Sign In</strong></button>
    </form>
</body>
</html>